<mat-sidenav #sidenav mode="push">
  <mat-nav-list>
    <a mat-list-item *ngFor="let item of navigation" (click)="sidenav.close()"
        [routerLink]="[item.link]" routerLinkActive="active">
      {{ item.label }}
    </a>
  </mat-nav-list>
</mat-sidenav>

<div class="toolbar">
  <mat-toolbar color="primary">
    <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
      <mat-icon fontSet="fas" fontIcon="fa-bars"></mat-icon>
    </button>

    <span routerLink="" class="branding spacer center d-inline d-sm-none">
        <img [src]="logo"/></span>
    <span routerLink=""
    class="branding spacer center d-none d-sm-inline d-md-none"><img
    [src]="logo"/>{{ title }}</span>
    <span routerLink="" class="branding spacer d-none d-md-inline"><img
      [src]="logo"/>{{ title }}</span>

    <div class="spacer d-none d-md-inline d-sm-none">
      <super-memory-deck-selector direction="row"></super-memory-deck-selector>
    </div>

    <div class="d-none d-md-inline d-sm-none">
      <a mat-button routerLink="/high-scores">HIGH SCORES</a>
    </div>
  </mat-toolbar>
</div>
